main{
    //background-color: $off-white;
    background-image: linear-gradient(to bottom right, $light-blue, $bright-orange);
    color:$off-white;

    .portfolio-nav{
        .portfolio-item{
            // add list style none
            font-size: 80px;
            list-style-type: none;
            .portfolio-link{
                color: $off-white;
                text-decoration: none;
            }
            .portfolio-link:hover{
                font-style: italic;
            }
        }
    }
    .content-main{
        //color: white;
        .header-main{
            font-size: 50px;
            font-weight: bold;
        }
        .subheader-main{
            //
        }
        .body-main{
            font-size: 18px;
        }
    }
}