// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colours
$fish-orange:#F8991C;   // Accent
$fish-brown: #905724;
$fish-blue: #82D3F6;    // Complimentary

// GPT Generated Pallet
$dark-charcoal: #1A1A1D; 
$off-white: #F8F1F1;
$warm-pink: #F54768;
$sea-green:#54F5BB;
$bold-red: #ED1B24;

// Additional GPT Colours
$light-lime-green: #A1F899;     // Light lime green, a pastel for softer design elements.
$dark-green: #5E9057;           // Dark green shade to complement the earthy brown.
$blue-grey: #6E82A3;            //Cool blue-gray, a softer alternative to your bright sky blue.
$deep-black: #141416;           // Deep black, used sparingly for heavy emphasis or text.
$white: #FFFFFF;
$muted-pink: #F57291;           // A slightly muted variant of your lively pink.
$dark-sea-green: #429874;       // succulent dark sea green.
$vibrant-pink: #B21D27;         // A deeper, more intense variant of your red, powerful as an alert or error color.

// Online Generated Pallet
$dark-blue: #1655BC;
$light-blue: #257AE9;
$light-orange: #FBC293;
$bright-orange:#F8991C; // Same as fish orange
$brown: #C9630B;
// Navbar
$navbar-height: 35px;

// Shopping Cart
// $cart-img-height: 250px;