// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Navbar
$navbar-height: 35px;

// Shopping Cart
// $cart-img-height: 250px;