// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colours
$fish-orange:#F8991C;
$fish-brown: #905724;
$fish-blue: #82D3F6;

$dark-blue: #1655BC;
$light-blue: #257AE9;
$light-orange: #FBC293;
$bright-orange:#F8991C; // Same as fish orange
$brown: #C9630B;
// Navbar
$navbar-height: 35px;

// Shopping Cart
// $cart-img-height: 250px;